@import url('../../index.css');

.FlashCard{
    grid-column: 2;
    padding: 1rem 2rem;

    background-color: #e0e0ef;
    border: 1px solid #d4d4eb;
    border-radius: 3px;
    /* temp */
    

    
}

.FlashCard-top {
    margin: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.FlashCard-fields {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}