@import url('../../index.css');

.Category {
    padding: .33rem 0;
    
    background-color: #e0e0ef;
    border: 1px solid #d4d4eb;
    border-radius: 2px;
}

.Category.active {
    background-color: #a0a0f1;
}