@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&family=Lobster&family=Peralta&family=Rock+Salt&display=swap'); 
/* dont need all of these ^^^*/ 

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bluegrey: #494963;
}
