@import url('../../index.css');

.Answer {
    padding: .55rem .77rem;
    margin: .77rem 0;
    min-width: 4rem;

    background-color: #ebebf3;
    border-radius: 2px;
    text-align: center;

    transform: rotateY(0deg);

    transition: transform .15s;

}

.Answer.transition {
    transform: rotateY(90deg);


    transition: transform .15s linear;
}

/* .Answer.revealed {
    transform: rotateY(-90deg);

    transition: transform .05s linear;
} */